@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.box-brank {
  height: 90vh;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* スライド部分 */
.scroll-show__slide {
  display: flex;
  justify-content: flex-end;
}
.scroll-show__slide:first-child .scroll-show__image-container {
  opacity: 1 !important;
}
.scroll-show__slide:nth-child(1) .scroll-show__image-container {
  background-color: #ffe0f3;
}
.scroll-show__slide:nth-child(2) .scroll-show__image-container {
  background-color: #e0ffe2;
}
.scroll-show__slide:nth-child(3) .scroll-show__image-container {
  background-color: #e3cbff;
}

/* 画像 */
.scroll-show__image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
  opacity: 0;
  overflow: hidden;
  background-color: #efefef;
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.scroll-show__image-container:nth-child(1) {
  background-color: #d4f5ff;
}
.scroll-show__image-container:nth-child(2) {
  background-color: #ffe0ff;
}
.scroll-show__image-container:nth-child(3) {
  background-color: #e0ffe2;
}
.scroll-show__image-container.viewport-fix {
  position: fixed;
  top: 0;
  left: 0;
}
.scroll-show__image-container.show {
  opacity: 1;
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-show__image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 71vh;
}

.scroll-show__image-caption {
  position: absolute;
  bottom: 12px;
  width: 100%;
  font-size: 12px;
  text-align: center;
}

/* テキスト */
.scroll-show__text-container {
  width: 50%;
}
.scroll-show__text-container:not(:last-child) {
  padding-bottom: 24px;
}

.scroll-show__text-column {
  padding: 36px;
}

.scroll-show__title {
  text-align: center;
  font-weight: 600;
  width: 100%;
  margin: 0 0 24px;
}

.rich-text > h2 {
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin: 0 0 12px;
  padding-bottom: 12px;
}
.rich-text > p {
  font-size: 16px;
  line-height: 32px;
}
.rich-text > p:not(:last-child) {
  margin-bottom: 24px;
}
.rich-text:not(:last-child) {
  margin-bottom: 36px;
}
